* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    /* background: #007bc4; */
    background-color: #041c2c;
}

.container {
    height: 35px;
    width: 35px;
    animation: rotate 3s linear 0s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25%, 75% {
        height: 45px;
        width: 45px;
        top: 49.8;
        left: 49.8%;
    }

    50% {
        height: 35px;
        width: 35px;
    }

    100% {
        transform: rotate(360deg);
    }
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.node {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #0FCACA;
    margin: 1px;
    animation: color-shift 3s linear 0s infinite;
}

@keyframes color-shift {
    0%, 50%, 100% {
        background: #0FCACA;
    }

    25%, 75% {
        background: #076868;
    }
}

.top-left {
   top: 0%;
   left: 0%;
   position: absolute;
}

.top-right {
    top: 0%;
    left: 50%;
    position: absolute;
}

.bottom-left {
    top: 50%;
    position: absolute;
}

.bottom-right {
    top: 50%;
    left: 50%;
    position: absolute;
}